fastapi
uvicorn
langgraph
langchain
langchain-community
langchain-huggingface
langchain-ollama
langchain-groq
langchain-chroma
chromadb
sentence-transformers
unstructured
rank_bm25
tiktoken
python-dotenv
supabase
slowapi
pydantic